.auctionsBody {
  width: 1, 440px;
  height: 920px;
  padding: 16px 0px 0px 0px;
  gap: 16px;
}

.titleComponent {
  width: 1, 440px;
  height: 38px;
  padding: 0px 32px;
  gap: 8px;
}

.titleText {
  margin: 0px;
}
