@import '../fonts/fonts.css';

$font-family-base: 'Inter';

html {
  background: var(--Background-1, #f6f6f4);
  width: 1440px;
  height: 1024px;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 8px 16px;
  border: none;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-top: 1;
  margin-bottom: 8px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px;
}

.nav-link {
  text-decoration: none;
  color: #071015;
}
