* {
  box-sizing: border-box;
}

.myAuctions {
  display: flex;
  flex-wrap: wrap;
  width: 1, 440px;
  height: 568px;
  padding: 0px 32px;
  gap: 16px;
}

.card {
  width: 216px;
  gap: 0px;
  border-radius: 16px;
  background: #ffffff;
}

.cardMyAuctions {
  @extend .card;
  height: 298px;
}

.cardBidding {
  @extend .card;
  height: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 216px;
  height: 92px;
  padding: 8px 8px 4px 8px;
  gap: 8px;
}

.tagHeader {
  width: 200px;
  height: 16px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 16px;
  padding: 2px 4px;
  gap: 8px;
  border-radius: 8px;
}

.tagInProgress {
  @extend .tag;
  background: #f9ff90;
}

.tagText {
  font-size: 9px;
  font-weight: 300;
  line-height: 12px;
}

.tagDone {
  @extend .tag;
  width: 33px;
  background: #272d2d;
  color: #ffffff;
}

.tagWinning {
  @extend .tag;
  width: 46px;
  background: #adff90;
}

.tagOutbid {
  @extend .tag;
  width: 40px;
  background: #ffaa98;
}

.timeTag {
  display: flex;
  justify-content: center;
  width: 43px;
  height: 16px;
  padding: 2px 4px 2px 4px;
  gap: 4px;
  border-radius: 8px 0px 0px 0px;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
}

.timeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
}

.titleContainer {
  width: 200px;
  height: 24px;
  gap: 0px;
}

.titleText {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.price {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 216px;
  height: 150px;
  padding: 4px;
  gap: 8px;
}

.imageContainerFull {
  @extend .imageContainer;
  height: 206px;
}

.image {
  width: 208px;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.imageFull {
  @extend .image;
  height: 206px;
}

.editFrame {
  display: flex;
  width: 208px;
  height: 40px;
  gap: 4px;
}

.btn {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 16px;
}

.deleteBtn {
  @extend .btn;
  width: 48px;
  border: 1px solid;
  border-color: #272d2d;
  background-color: #ffffff;
}

.editBtn {
  @extend .btn;
  width: 156px;
  background: #272d2d;
}

.btnLabel {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}
