.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1, 440px;
  height: 920px;
  padding: 32px;
}

.newAuctionCard {
  display: flex;
  flex-direction: column;
  width: 533px;
  height: 647px;
  top: 80px;
  left: 80px;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  background: #ffffff;
}

.newAuctionCardHeader {
  width: 501px;
  height: 28px;
}

#image {
  display: none;
}

.newAuctionCardPicture {
  width: 501px;
  height: 168px;
  border-radius: 16px;
  background: #f6f6f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newAuctionCardInner {
  display: flex;
  flex-direction: column;
  width: 501px;
  height: 571px;
  gap: 16px;
}

.newAuctionCardBottomBar {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 501px;
  height: 40px;
  gap: 16px;
}

.addImageButton {
  width: 114px;
  height: 40px;
  min-height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  border: 1px solid #272d2d;
  color: #071015;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

.imagePreview {
  width: 501px;
  height: 168px;
  gap: 8px;
  border-radius: 16px;
  object-fit: cover;
}

.addImageButton:hover {
  cursor: pointer;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGroupTitle {
  @extend .formGroup;
  width: 501px;
  height: 72px;
}

.formLabel {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  background: #071015;
}

.formInput {
  padding: 8px 16px;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #dde9e6;
}

.formInputTitle {
  @extend .formInput;
  width: 501px;
  height: 40px;
}

.formGroupDescription {
  @extend .formGroup;
  width: 501px;
  height: 155px;
}

.formInputDescription {
  @extend .formInput;
  width: 501px;
  height: 123px;
}

.error {
  color: white;
  background-color: red;
}

.formGroupSbs {
  display: flex;
  width: 501px;
  height: 72px;
  gap: 16px;
}

.formGroupStartingPrice {
  @extend .formGroup;
  width: 242.5px;
  height: 72px;
  gap: 8px;
}

.formInputStartingPrice {
  @extend .formInput;
  width: 242.5px;
  height: 40px;
  background: url('../images/euroIcon.png') no-repeat right;
  background-size: 12px;
  background-position: calc(100% - 16px) center;
}

.formGroupEndDate {
  @extend .formGroup;
  width: 242.5px;
  height: 72px;
}

.formInputDate {
  @extend .formInput;
  width: 242.5px;
  height: 40px;
  background: url('../images/time.png') no-repeat right;
  background-size: 12px;
  background-position: calc(100% - 16px) center;
}
